<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.gamesforkids.gamesforkids">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_flavor"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_flavor"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Game1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game2Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game4Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game3Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game3_1Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game5Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game6Activity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game1InfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game2InfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game4InfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game6InfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game6FinishActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game5InfoActivity"
            android:screenOrientation="landscape" />
    </application>

</manifest>